<html class="background">

<body class="background">
    <nav class="navbar sticky-top navbar-expand-sm navbar-light px-5 border-bottom">
        <%= link_to "IISE Budget Request Tracker", iise_budget_tracker_index_path, class: "navbar-brand text-white" %>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><%= link_to "Home", iise_budget_tracker_index_path, class: "nav-link text-white" %></li>
                <li class="nav-item"><%= link_to "Create New Request", new_iise_budget_tracker_path, class: "nav-link text-white" %></li>
            </ul>
        </div>
    </nav>
    <div class="container p-2 my-2">
        <h2>Sign up</h2>

        <div class="container p-2 my-2">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="field">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>

            <div class="field">
                <%= f.label :password %>
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />
                <%= f.password_field :password, autocomplete: "new-password" %>
            </div>

            <div class="field">
                <%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
            </div>

            <div class="field">
                <%= f.check_box :admin %>
                <%= f.label :admin %>
            </div>

            <div class="actions">
                <%= f.submit "Sign up" %>
            </div>
            <% end %>

            <%= render "devise/shared/links" %>
        </div>
    </div>
</body>

</html>