<html class="background">

<body class="background">
    <nav class="navbar sticky-top navbar-expand-sm navbar-light px-5 border-bottom">

        <%= link_to "IISE Budget Request Tracker", iise_budget_tracker_index_path, class: "navbar-brand text-white" %>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><%= link_to "Home", iise_budget_tracker_index_path, class: "nav-link text-white" %></li>
                <% if user_signed_in? and current_user.admin_role? %>
                <li class="nav-item"><%= link_to "Admin", rails_admin_path, class: "nav-link text-white" %></li>
                <% end %>
                <li class="nav-item"><%= link_to "Create New Request", new_iise_budget_tracker_path, class: "nav-link text-white" %></li>
                <% if current_user %>
                <li class="nav-item"><%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-link text-white" %></li>
                <li class="nav-item"><%= link_to "Change your password", edit_user_registration_path, class: "nav-link text-white" %>
                    <% else %>
                <li class="nav-item"><%= link_to "Sign In", new_user_session_path, class: "nav-link text-white" %></li>
                <% end %>
            </ul>
        </div>

    </nav>

    <div class="container p-2 my-2 border">
        <div class="disclaimer">
            <td>By entering this system and entering any data requested, I am giving my consent to share data related to
                my involvement with the student organization. Should I no longer wish to share the data I've provided,
                I will notify the student organization.
            </td>
        </div>
    </div>

    <div class="container-fluid p-2 my-2">
        <div class="budget request index">
            <h2 class="outerContainer">Budget Statistics</h2>

            <%
            submittedTotal = 0
            processingTotal = 0
            processedTotal = 0
            %>

            <% @budget_request.each do |br| %>
            <%
            if br.status == 'Submitted'
            submittedTotal += br.totalPrice
            elsif br.status == 'Processing'
            processingTotal += br.totalPrice
            elsif br.status == 'Processed'
            processedTotal += br.totalPrice
            end

            time = Time.current()
            hr = time.hour
            ampm = "am"
            if hr > 12
                hr -= 12
                ampm = "pm"
            end

            min = time.min.to_s
            if time.min.to_s.length == 1
                min = "0" + min
            end


            olddaymonth = File.read("public/OldLog.txt")
            File.delete(olddaymonth)
            $newdaymonth = (Time.now).strftime("%B") + "_" + time.day.to_s
            File.write("public/OldLog.txt", "public/BUDGET_LOGS_"+$newdaymonth+".csv")

            File.write("public/BUDGET_LOGS_"+$newdaymonth+".csv",
                "Generated at " + hr.to_s + ":" + min + ampm + " on " + time.month.to_s + "/" + time.day.to_s + "/" + time.year.to_s + "\n")
            File.write("public/BUDGET_LOGS_"+$newdaymonth+".csv",
                "Event name, Account Number, Sub Account, Request Date, Individual Name, Phone Number, Mailing Address, UIN, Travel Form Password, Request Description, Comments, Status, Total Price", mode: "a")
            %>
            <% end %>

            <div class="container">
                <div class="row">
                    <div class="col">
                        <% @balance.each do |bal| %>
                        Max Balance: <%= bal.balanceAmount %>
                        <% end %>
                    </div>
                    <div class="col">
                        <% @balance.each do |bal| %>
                        Current Balance: <%= bal.balanceAmount - processedTotal %>
                        <% end %>
                    </div>
                    <div class="col">
                        <% @balance.each do |bal| %>
                        Expected Balance: <%= bal.balanceAmount - processedTotal - processingTotal - submittedTotal %>
                        <% end %>
                    </div>
                </div>
                <div class="row">
                    <div class="col outerContainer">
                        Processed: $<%= processedTotal %>
                    </div>
                    <div class="col outerContainer">
                        Processing: $<%= processingTotal %>
                    </div>
                    <div class="col outerContainer">
                        Submitted: $<%= submittedTotal %>
                    </div>
                </div>
                
                <% if user_signed_in? and current_user.admin_role? %>
                    <div class="row">
                        <% existingRequest = '0' %>
                        <% @balance.each do |bal| %>
                        <div class="row">

                            <div class="col-md-auto">
                                <button type="button" class="btn btn-outline-primary">
                                    <%= link_to("Change Max Balance Amount", edit_balance_path(bal)) %>
                                </button>
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-outline-primary">
                                    <%= link_to("Clear Max Balance Amount", delete_balance_path(bal), method: :delete, id: "clear") %>
                                </button>
                            </div>

                        </div>
                        <% existingRequest =" '1'" %>
                        <% end %>
                        <% if (existingRequest == '0') %>
                        <button type="button" class="btn btn-outline-primary">
                            <%= link_to("Set Max Balance Amount", new_balance_path, :class => 'action new', id: "set") %>
                        </button>
                        <% end %>
                    </div>
                    <% end %>
            </div>


            <div class="container-fluid p-4 my-2 d-flex justify-content-center row">
                <div class="budget request index">
                    <h2>Here are all your budget requests</h2>


                    <%= link_to("Create New Budget Request", new_iise_budget_tracker_path, :class => 'btn btn-outline-primary') %>
                    <div class="row">
                        <div class="col">
                            <p>
                                <%= form_with(url: iise_budget_tracker_index_path, method: :get, local: true) do |form| %>
                                <%= form.select :selectType, ["Date", "Status", "Individual Name"], { include_blank: true } %>
                                <%= form.submit "Sort By" %>
                                <% end %>
                            </p>
                        </div>
                        <div class="col">
                            <p>
                                <%= form_with(url: iise_budget_tracker_index_path, method: :get, local: true) do |form| %>
                                <%= form.select :filterType, BudgetRequest.all.pluck(:individualName).uniq, { include_blank: true } %>
                                <%= form.submit "Filter By" %>
                                <% end %>
                            </p>
                        </div>

                    </div>

                    <table class="listing container-fluid p-2 my-2" summary="budget_request list">
                        <tr class="header">
                            <th>Event Name</th>
                            <th>Request Description</th>
                            <th>Individual Name</th>
                            <th>Request Date</th>
                            <th>Status</th>
                            <th>Last Updated</th>
                            <th>Action</th>
                        </tr>
                        <% @budget_request.each do |br| %>


                        <%  xlsxInfo = br.eventName.to_s + "," + br.accountNumber.to_s + "," + br.subAccount.to_s + "," + br.requestDate.to_s + "," + br.individualName.to_s + "," + br.phoneNumber.to_s + "," + br.mailingAddress.to_s.tr(',',' ') + "," + br.uin.to_s + ","  + br.travelFormPassowrd.to_s + "," + br.requestDescription.to_s + "," + br.comments.to_s + "," + br.status.to_s + "," + br.totalPrice.to_s %>


                        <% File.write("public/BUDGET_LOGS_"+$newdaymonth+".csv", "\n" + xlsxInfo, mode: "a") %>

                        <tr>
                            <td class="center">
                                <%= br.eventName %>
                            </td>
                            <td class="center">
                                <%= br.requestDescription %>
                            </td>
                            <td class="center">
                                <%= br.individualName %>
                            </td>
                            <td class="center">
                                <%= br.requestDate %>
                            </td>
                            <% if br.status == 'Submitted'%>
                            <td class="center bg-primary text-white status">
                                <% elsif br.status == 'Processed'%>
                            <td class="center bg-success text-white status">
                                <% elsif br.status == 'Processing'%>
                            <td class="center bg-secondary text-white status">
                                <% elsif br.status == 'Denied'%>
                            <td class="center bg-danger text-white status">
                                <% elsif br.status == 'Needs Review'%>

                            <td class="center bg-warning text-dark status">

                                <% end %>
                                <%= br.status %>
                            </td>

                            <%
                            timeUpdate = br.updated_at
                            hrUpdate = timeUpdate.hour
                            ampmUpdate = "am"
                            if hrUpdate > 12
                            hrUpdate -= 12
                            ampmUpdate = "pm"
                            end

                            minUpdate = timeUpdate.min.to_s
                            if timeUpdate.min.to_s.length == 1
                            minUpdate = "0" + minUpdate
                            end
                            $newdaymonthUpdate = (Time.now).strftime("%B") + "_" + timeUpdate.day.to_s

                            $timeString = hrUpdate.to_s + ":" + minUpdate + ampmUpdate + " on " + timeUpdate.month.to_s + "/" + timeUpdate.day.to_s + "/" + timeUpdate.year.to_s

%>
                            <td class="center updated">
                                <%= $timeString %>
                            </td>

                            <td class="actions">
                                <button type="button" class="btn justify-content-center">
                                    <%= link_to 'Details', iise_budget_tracker_path(br), :class => 'btn btn-outline-secondary' %>
                                </button>

                                <button type="button" class="btn justify-content-center">
                                    <%= link_to 'Edit', edit_iise_budget_tracker_path(br), :class => 'btn btn-outline-secondary' %>
                                </button>
                                <button type="button" class="btn justify-content-center">
                                    <%= link_to 'Add Items', products_path(:budget_request_id => br.id), :class => 'btn btn-outline-secondary' %>
                                </button>
                                <button type="button" class="btn justify-content-center">
                                    <%= button_to 'Remove', iise_budget_tracker_path(br), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-outline-danger' %>
                                </button>

                            </td>
                        </tr>
                        <% end %>
                    </table>
                </div>

            </div>
            <div class="row d-flex justify-content-center">
                <% if user_signed_in? and current_user.admin_role? %>

                <a href="BUDGET_LOGS_<%=$newdaymonth%>.csv" download="<%=$newdaymonth%>.csv" class="btn btn-outline-primary outerContainer">Export to Excel</a>

                <% end %>
            </div>


        </div>


    </div>

</body>

</html>
