
<div class="disclaimer">
  <td>By entering this system and entering any data requested, I am giving my consent to share data related to

my involvement with the student organization.  Should I no longer wish to share the data I've provided,

I will notify the student organization.
  </td>
</div>

<div class="budget request index">
  <h2>Here are all your budget requests</h2>
  <%= link_to("Create New Budget Request", new_iise_budget_tracker_path, :class => 'action new') %>
    <table class="listing" summary="budget_request list">
      <tr class="header">
        <th>Request Description</th>
        <th>Individual Name</th>
        <th>Request Date</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
      <% @budget_request.each do |budget_request| %>
      <tr>
        <td class="center">
          <%= budget_request.requestDescription %>
        </td>
        <td class="center">
          <%= budget_request.individualName %>
        </td>
        <td class="center">
          <%= budget_request.requestDate %>
        </td>
        <td class="center">
          <%= budget_request.status %>
        </td>
            <td class="actions">
            <%= link_to("Show", iise_budget_tracker_path(budget_request), :class => 'action show') %>
            <%= link_to("Edit", edit_iise_budget_tracker_path(budget_request), :class => 'action edit') %>
            <%= link_to 'Delete', delete_iise_budget_tracker_path(budget_request), method: 'delete', data: { confirm: 'Are you sure?' } %>
            <%= link_to "<button>View Items</button>".html_safe, products_path(:budget_request_id => budget_request.id), :class => 'action show' %>
        </td>
        </tr>
      <% end %>
    </table>
  </div>
  