<div class="budget request index">
  <h2>Here are all your budget requests</h2>
  <%= link_to("Create New Budget Request", new_iise_budget_tracker_path, :class => 'action new') %>
    <table class="listing" summary="budget_request list">
      <tr class="header">
        <th>Request Description</th>
        <th>Individual Name</th>
        <th>Request Date</th>
        <th>Action</th>
      </tr>
      <% @budget_request.each do |budget_request| %>
      <tr>
        <td class="center">
          <%= budget_request.requestDescription %>
        </td>
        <td class="center">
          <%= budget_request.individualName %>
        </td>
        <td class="center">
          <%= budget_request.requestDate %>
        </td>
            <td class="actions">
            <%= link_to("Show", iise_budget_tracker_path(budget_request), :class => 'action show') %>
            <%= link_to("Edit", edit_iise_budget_tracker_path(budget_request), :class => 'action edit') %>
            <%= link_to("Delete", delete_iise_budget_tracker_path(budget_request), :class => 'action delete') %>
        </td>
        </tr>
      <% end %>
    </table>
  </div>
  