<div class="container p-2 my-2 border">
    <div class="disclaimer">
        <td>By entering this system and entering any data requested, I am giving my consent to share data related to

            my involvement with the student organization. Should I no longer wish to share the data I've provided,

            I will notify the student organization.
        </td>
    </div>
</div>

<p hidden>
    <%=
    @grandTotal = 0
    grandTotal = 0
    %>
</p>


<div class="container p-2 my-2">
    <div class="budget request index">
        <h2>Here are all your budget requests</h2>
        <%= link_to("Create New Budget Request", new_iise_budget_tracker_path, :class => 'action new') %>
        <table class="listing container p-2 my-2" summary="budget_request list">
            <tr class="header">
                <th>Request Description</th>
                <th>Individual Name</th>
                <th>Request Date</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            <% @budget_request.each do |br| %>
            <!-- Add totals, only display once all added -->
            <p hidden>
                <%=
                if not br.equal?(@budget_request.last)
                grandTotal += br.totalPrice
                end 
                %>
            </p>
            <p>
                <%=
                if br.equal?(@budget_request.last)
                grandTotal += br.totalPrice
                @totalDisplay = "Total Spent: $" + grandTotal.to_s
                end 
                %>
            </p>
            <tr>
                <td class="center">
                    <%= br.requestDescription %>
                </td>
                <td class="center">
                    <%= br.individualName %>
                </td>
                <td class="center">
                    <%= br.requestDate %>
                </td>
                <td class="center">
                    <%= br.status %>
                </td>
                <td class="actions">
                    <button type="button" class="btn">
                        <%= link_to("Show", iise_budget_tracker_path(br), :class => 'action show') %>
                    </button>
                    <button type="button" class="btn">
                        <%= link_to("Edit", edit_iise_budget_tracker_path(br), :class => 'action edit') %>
                    </button>
                    <button type="button" class="btn">
                        <%= link_to 'Remove', iise_budget_tracker_path(br), method: :delete, data: { confirm: 'Are you sure?' } %>
                    </button>
                    <button type="button" class="btn">
                        <%= link_to "View Items", products_path(:budget_request_id => br.id), :class => 'action show' %>
                    </button>
                </td>
            </tr>
            <% end %>
        </table>
    </div>
</div>