<html class="bg-light">

<body class="bg-light">

    <nav class="navbar sticky-top navbar-expand-sm navbar-light px-5 border-bottom bg-light">
        <%= link_to "IISE Budget Request Tracker", iise_budget_tracker_index_path, class: "navbar-brand" %>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><%= link_to "Home", iise_budget_tracker_index_path, class: "nav-link" %></li>
                <li class="nav-item"><%= link_to "Create New Request", new_iise_budget_tracker_path, class: "nav-link" %></li>
                <% if current_user %>
                <li class="nav-item"><%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-link" %></li>
                <% end %>
            </ul>
        </div>
    </nav>

    <div class="container p-2 my-2">
        <%= link_to("<< Back to List", iise_budget_tracker_index_path, :class => 'back-link') %>

        <div class="budget_requests show container p-2 my-2">
            <h2>Budget Request Details</h2>

            <div class="form group my-2">
                <h5>Event Name:</h5>
                <p><%= @budget_request.eventName %></p>
            </div>
            <div class="form group my-2">
                <h5>Account Number:</h5>
                <p><%= @budget_request.accountNumber %></p>
            </div>
            <div class="form group my-2">
                <h5>Sub Account:</h5>
                <p><%= @budget_request.subAccount %></p>
            </div>
            <div class="form group my-2">
                <h5>Request Date:</h5>
                <p><%= @budget_request.requestDate.strftime("%m/%d/%Y") %></p>
            </div>
            <div class="form group my-2">
                <h5>Individual/Business Name:</h5>
                <p><%= @budget_request.individualName %></p>
            </div>
            <div class="form group my-2">
                <h5>Phone Number:</h5>
                <p><%= @budget_request.phoneNumber %></p>
            </div>
            <div class="form group my-2">
                <h5>Mailing Address:</h5>
                <p><%= @budget_request.mailingAddress %></p>
            </div>
            <div class="form group my-2">
                <h5>UIN:</h5>
                <p><%= @budget_request.uin %></p>
            </div>
            <div class="form group my-2">
                <h5>Payment Type:</h5>
                <p><%= @budget_request.paymentType %></p>
            </div>
            <div class="form group my-2">
                <h5>TAMU Affiliation:</h5>
                <p><%= @budget_request.tamuAffilliation %></p>
            </div>
            <div class="form group my-2">
                <h5>Travel Form Password:</h5>
                <p><%= @budget_request.travelFormPassowrd %></p>
            </div>
            <div class="form group my-2">
                <h5>Request Description:</h5>
                <p><%= @budget_request.requestDescription %></p>
            </div>
            <div class="form group my-2">
                <h5>Receipt:</h5>
                <p>
                    <% if @budget_request.images.attached? %>
                <div style="width:400px;height:auto;">
                    <% @budget_request.images.each do |image| %>
                    <%= image_tag(image, style: 'width:100%;height: auto') %>
                    <%= link_to image.filename, rails_blob_path(image, disposition: 'attachment') %>
                    <% end %>
                </div>
                <% end %>
                <%= "Not provided" if not @budget_request.images.attached? %>
                </p>
            </div>
            <div class="form group my-2">
                <h5>Comments:</h5>
                <p><%= @budget_request.comments %></p>
            </div>
            <div class="form group my-2">
                <h5>Status:</h5>
                <p><%= @budget_request.status %></p>
            </div>
            <div class="form group my-2">
                <h5>Total Price:</h5>
                <p><%= @budget_request.totalPrice %></p>
            </div>

        </div>
        <div class="form group my-2">
            <p>
                <% payment_options = ['','',''] %>
                <% affiliation_options = ['','','']%>
                <% travel = ['',''] %>
                <% if @budget_request.travelFormPassowrd %>
                <% travel[0] = @budget_request.travelFormPassowrd[0,5] %>
                <% travel[1] = @budget_request.travelFormPassowrd[5,10] %>
                <% end %>


                <% if @budget_request.paymentType == 'Mail to Payee Address' %>
                <% payment_options[0] = 'Yes'%>
                <% elsif @budget_request.paymentType == 'Pick up at SOFC' %>
                <% payment_options[1] = 'Yes' %>
                <% elsif @budget_request.paymentType == 'Direct Deposit' %>
                <% payment_options[2] = 'Yes' %>
                <% end %>

                <% if @budget_request.tamuAffilliation == 'Student' %>
                <% affiliation_options[0] = 'Yes'%>
                <% elsif @budget_request.tamuAffilliation == 'Employee' %>
                <% affiliation_options[1] = 'Yes' %>
                <% elsif @budget_request.tamuAffilliation == 'Not Affiliated' %>
                <% affiliation_options[2] = 'Yes' %>
                <% end %>

                <% categories = Hash["Travel" => 0,"Food" => 0, "Office Supplies" => 0, \
            "Utilities" => 0, "Membership" => 0, "Service and Other Income" => 0, \
            "Clothing" => 0, "Rent" => 0, "Other Expenses" => 0, "Items for Resale" => 0] %>

                <% sum = 0%>
                <% @budget_request.products.each do |product| %>
                <% categories[product.expense_type] += product.price%>
                <% sum += product.price%>
                <% end %>

                <% categories.each do |category,value| %>
                <% if value == 0 %>
                <% categories[category] = ''%>
                <% else %>
                <% categories[category] = '$%.02f' %categories[category].to_f.round(3) %>
                <% end %>
                <% end %>

                <% require 'pdf-forms' %>
                <% pdftk = PdfForms.new("pdftk") %>

                <% pdftk.fill_form 'public/pdf/SOFC.pdf', 'public/pdf/request'+ @budget_request.id.to_s + '.pdf', \
            :"Student Organization Name" => 'IISE', \
            :"Individual or Business Name" => @budget_request.individualName, \
            :"Account Number" => @budget_request.accountNumber, :"Sub-Account" => @budget_request.subAccount, \
            :"Date" => @budget_request.requestDate.strftime("%m%d%YYYY"), \
            :"Phone Number" => @budget_request.phoneNumber,:"Mailing Address" => @budget_request.mailingAddress, \
            :"Student" => affiliation_options[0], :"Employee" => affiliation_options[1], :"Not Affiliated" => affiliation_options[2], \
            :"UIN" => @budget_request.uin, :"Mail" => payment_options[0] ,:"Pick up" => payment_options[1], \
            :"Direct Deposit" => payment_options[2], :"Travel1" => travel[0], \
            :"Travel2" => travel[1], \
            :"Statement" => @budget_request.requestDescription, :"3410" =>categories["Travel"], \
            :"6339" =>categories["Food"], \
            :"4014" =>categories["Office Supplies"], \
            :"5025" =>categories["Utilities"], \
            :"5211" =>categories["Membership"], \
            :"5453" =>categories["Service and Other Income"], \
            :"5755" =>categories["Clothing"], \
            :"5870" =>categories["Rent"], \
            :"6335" =>categories["Other Expenses"], \
            :"6901" =>categories["Items for Resale"], \
            :"Total" => '$%.02f' %sum.to_f.round(3)%>

                <%= link_to("Download Request", download_pdf_path(@budget_request.id)) %>

            </p>
        </div>
    </div>


</body>

</html>