<html class="background">

<body class="background">
    <nav class="navbar sticky-top navbar-expand-sm navbar-light px-5 border-bottom">
        <%= link_to "IISE Budget Request Tracker", iise_budget_tracker_index_path, class: "navbar-brand text-white" %>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><%= link_to "Home", iise_budget_tracker_index_path, class: "nav-link text-white" %></li>
                <li class="nav-item"><%= link_to "Create New Request", new_iise_budget_tracker_path, class: "nav-link text-white" %></li>
                <% if current_user %>
                <li class="nav-item"><%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-link text-white" %></li>
                <% else %>
                <li class="nav-item"><%= link_to "Sign In", new_user_session_path, class: "nav-link text-white" %></li>
                <% end %>
            </ul>
        </div>
    </nav>
    <div class="container p-2 my-2">
        <% @product_title = "All Products" %>

        <%= link_to("<< Back to Requests", iise_budget_tracker_index_path(:budget_request_id => @budget_request.id), :class => 'back-link') %>

        <div class="products index">
            <h2>Items</h2>

            <%= link_to("Add New Items", new_product_path(:budget_request_id => @budget_request.id), :class => 'btn btn-outline-primary') %>

            <table class="listing container p-2 my-2" summary="Product list">
                <tr class="header">
                    <th>Item</th>
                    <th>Type</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
                <% @products.each do |product| %>
                <tr>
                    <td class="center"><%= product.description %></td>
                    <td class="center"><%= product.expense_type %></td>
                    <td class="center"><%= product.quantity %></td>
                    <td class="center"><%= product.price %></td>
                    <td class="actions center">
                        <button type="button" class="btn">
                            <%= link_to 'Item Details', product_path(product,:budget_request_id => @budget_request.id), :class => 'btn btn-outline-secondary' %>
                        </button>
                        <button type="button" class="btn">
                            <%= link_to 'Edit', edit_product_path(product,:budget_request_id => @budget_request.id), :class => 'btn btn-outline-secondary' %>
                        </button>
                        <button type="button" class="btn">
                            <%= link_to 'Remove', delete_product_path(product,:budget_request_id => @budget_request.id), :class => 'btn btn-outline-danger' %>
                        </button>
                    </td>
                </tr>
                <% end %>
            </table>
        </div>
    </div>
</body>

</html>
