<html class="bg-light">

<body class="bg-light">
    <nav class="navbar sticky-top navbar-expand-sm navbar-light px-5 border-bottom bg-light">
        <%= link_to "IISE Budget Request Tracker", iise_budget_tracker_index_path, class: "navbar-brand" %>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><%= link_to "Home", iise_budget_tracker_index_path, class: "nav-link" %></li>
                <li class="nav-item"><%= link_to "Create New Request", new_iise_budget_tracker_path, class: "nav-link" %></li>
            </ul>
        </div>
    </nav>
    <div class="container p-2 my-2">
        <% @product_title = "All Products" %>

        <%= link_to("<< Back to Requests", iise_budget_tracker_index_path(:budget_request_id => @budget_request.id), :class => 'back-link') %>

        <div class="products index">
            <h2>Products</h2>

            <%= link_to("Add New Product", new_product_path(:budget_request_id => @budget_request.id), :class => 'action new') %>

            <table class="listing container p-2 my-2" summary="Product list">
                <tr class="header">
                    <th>Item</th>
                    <th>Type</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
                <% @products.each do |product| %>
                <tr>
                    <td class="center"><%= product.description %></td>
                    <td class="center"><%= product.expense_type %></td>
                    <td class="center"><%= product.quantity %></td>
                    <td class="center"><%= product.price %></td>
                    <td class="actions center">
                        <button type="button" class="btn">
                            <%= link_to(image_tag('view_symbol.png', :size => '20x20',:alt => 'show product details'), product_path(product,:budget_request_id => @budget_request.id), :class => 'action show') %>
                        </button>
                        <button type="button" class="btn">
                            <%= link_to(image_tag('edit_symbol.png', :size => '20x20',:alt => 'edit product'), edit_product_path(product,:budget_request_id => @budget_request.id), :class => 'action edit') %>
                        </button>
                        <button type="button" class="btn">
                            <%= link_to(image_tag('remove_symbol.png', :size => '20x20',:alt => 'remove product'), delete_product_path(product,:budget_request_id => @budget_request.id), :class => 'action delete') %>
                        </button>
                    </td>
                </tr>
                <% end %>
            </table>
        </div>
    </div>
</body>

</html>